{% extends 'base.html' %}

{% block meta_description %}About Vroom. The history of Vroom.{% endblock %}

{% block title %}Vroom - About{% endblock %}

{% block content %} 
<div class="row">
    <div class="col-12 header-strip ">
        <h4>About</h4>
    </div>
</div>
<div class="row home-row">
    <div class="col-12 home-content-box">
        <h3 class="header-title home-titles">Our mission</h3>
        <p>We want to help people to have safe access to the experience of driving high end cars and to offer high spec driving solutions.</p>
    </div>
    <hr class="custom-hr">
    <div class="col-12">
        <h3 class="header-title home-titles">Origins</h3>
        <p>Vroom came from the observed need of high end car rental.</p>
        <p>We started with a couple of classic cars being rented for weddings and other special occasions.</p>
        <p>After a couple of months, it became common to have users looking for other cars that we didn't own.</p>
        <p>So we decided to open up the car supply to other users and got to the model we have today.</p>
    </div>
    <hr class="custom-hr">
    <div class="col-12">
        <h3 class="header-title home-titles">Founder</h3>
    </div>
    <div class="col-12 home-img-box">
         <img src="https://vroom-s3.s3-eu-west-1.amazonaws.com/static/images/about/carsonmccarr.jpg" class="home-images" alt="Picture of Carson McCarr">
    </div>
    <div class="col-12">
        <p>Carson McCarr is the proud owner of the two cars that started it all.</p>
        <p>He grew up fixing farm equipment with his father and building his own machines on his spare time.</p>
        <p>He bought the two cars as scrap metal and took the commitment to bring them back to life.</p>
        <p>McCarr is 96 years old and still goes every day to his garage to work on his restoration projects.</p>
    </div>
    <hr class="custom-hr">
    <div class="col-12">
        <h3 class="header-title home-titles">The Convertible Roadster</h3>
    </div>
    <div class="col-12 home-img-box">
         <img src="https://vroom-s3.s3-eu-west-1.amazonaws.com/static/images/about/convertible_roadster.jpg" class="home-images" alt="McCarr's convertible roadster">
    </div>
    <div class="col-12">
        <p>Fist car ever bought by McCarr. Found in a scrapyard rotting away.</p>
        <p>This car was swapped for an old shovel with a neighbour farmer.</p>
        <p>Not many believed this car would ever be back on the road but not McCarr.</p>
        <p>After years of work and gathering parts, this piece of history is back.</p>
    </div>
    <hr class="custom-hr">
    <div class="col-12">
        <h3 class="header-title home-titles">The Wedding Pearl</h3>
    </div>
    <div class="col-12 home-img-box">
         <img src="https://vroom-s3.s3-eu-west-1.amazonaws.com/static/images/about/wedding_car.jpg" class="home-images" alt="Picture of Carson McCarr">
    </div>
    <div class="col-12">
        <p>McCarr bought this car in 1972 as a project to work on.</p>
        <p>Nicknamed Wedding Pearl by one of the happy customers, the name resounded with the character of the car and seems to have stuck to it.</p>
        <p>This car cost him a dozen free range eggs. It had no wheels, no doors, no engine. Most parts were missing.</p>
        <p>Most people would regret giving away that dozen free range eggs but not McCarr.</p>
        <p>Took him 5 years to find all parts for the car and now it is worth a bit more than that dozen eggs.</p>
    </div>
</div>
{% endblock %}