{% extends 'base.html' %}

{% block meta_description %}Vroom. Get in touch with us.{% endblock %}

{% block title %}Vroom - Contact{% endblock %}

{% block content %} 
<div class="row">
    <div class="col-12 header-strip ">
        <h4>Contact</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>In this page you can get in touch with us and we will be happy to get back to you as soon as possible.</p>
        <p>Please provide all the information as it is required to allow us to get in touch with you.</p>
        <p>To contact us, please fill the form below and our team will be in touch!</p>
    </div>
    <div class="col-12 col-md-6 offset-md-3">
        <form method="POST" class="contact-form">
            {% csrf_token %}
            <h3 class="header-title home-titles">Contact us</h3>
            <div class="form-group">
                <label for="contact_user_first_name">First Name</label>
                <input type="text" class="form-control" id="contact_user_first_name" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <label for="contact_user_last_name">Last Name</label>
                <input type="text" class="form-control" id="contact_user_last_name" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <label for="contact_user_email">Email address</label>
                <input type="email" class="form-control" id="contact_user_email" placeholder="name@example.com" required>
            </div>
            <div class="form-group">
                <label for="contact_text">What can we help you with?</label>
                <textarea class="form-control" id="contact_text" rows="6" required></textarea>
            </div>
            <button type="submit" class="btn general-button card-button">Submit</button>
        </form>
    </div>
</div>

{% endblock %}