{% extends 'base.html' %}

{% block meta_description %}Vroom. Frequently asked questions.{% endblock %}

{% block title %}Vroom - FAQs{% endblock %}

{% block content %} 
<div class="row">
    <div class="col-12 header-strip profile-header">
        <h4>Frequently Asked Questions</h4>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6">
        <button class="btn general-button faqs-button" type="button" data-toggle="collapse" data-target="#whatIsVroom" aria-expanded="false" aria-controls="collapseExample">
            What is Vroom?
        </button>
        <div class="collapse" id="whatIsVroom">
            <div class="card card-body">
                <p>Vroom is a platform where users can rent amazing cars from other users.</p>
                <p>We offer you safe payment and insurance is mandatory when renting one of the cars.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <button class="btn general-button faqs-button" type="button" data-toggle="collapse" data-target="#usingVroom" aria-expanded="false" aria-controls="collapseExample">
            What can I use Vroom for?
        </button>
        <div class="collapse" id="usingVroom">
            <div class="card card-body">
                <p>Vroom has been used for a range of occasions such as tourism, amazing driving experiences, weddings, birthdays presents, business travels and much more.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <button class="btn general-button faqs-button" type="button" data-toggle="collapse" data-target="#rentMyCar" aria-expanded="false" aria-controls="collapseExample">
            How can I put my car for rent?
        </button>
        <div class="collapse" id="rentMyCar">
            <div class="card card-body">
                <p>If you own one of the desired cars, Vroom is a chance for you to share your experience with others and also make a profit while your car is fully insured.</p>
                <p>You can get started straight away pressing the button below.</p>
                <a href="{% url 'car_register' %}" rel="noopener" aria-label="Link to rent my car with Vroom">
                    <button type="button" class="btn general-button">Vroom my car</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <button class="btn general-button faqs-button" type="button" data-toggle="collapse" data-target="#trackDay" aria-expanded="false" aria-controls="collapseExample">
            How does the track day package work?
        </button>
        <div class="collapse" id="trackDay">
            <div class="card card-body">
                <p>You can choose between morning, afternoon or a full track day.</p>
                <p>All the sessions are overlooked by a qualified track trainer that will be there to support you.</p>
                <p>Click the button below to find a car and get a track day experience!</p>
                <a href="{% url 'all_cars' %}" rel="noopener" aria-label="Link to rent my car with Vroom">
                    <button type="button" class="btn general-button">Find c car</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <button class="btn general-button faqs-button" type="button" data-toggle="collapse" data-target="#insurance" aria-expanded="false" aria-controls="collapseExample">
            Do I need personal insurance to rent a car with Vroom?
        </button>
        <div class="collapse" id="insurance">
            <div class="card card-body">
                <p>When renting a car with Vroom, insurance is mandatory.</p>
                <p>The basic insurance package is included for free on your rentals!</p>
                <p>You have three packages to choose from: Basic, Standard and Full coverage.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <button class="btn general-button faqs-button" type="button" data-toggle="collapse" data-target="#pDriver" aria-expanded="false" aria-controls="collapseExample">
            What is included in the private driver package?
        </button>
        <div class="collapse" id="pDriver">
            <div class="card card-body">
                <p>The private driver package provides you with a full 24h coverage by our highly trained drivers.</p>
                <p>Our drivers will work in shifts, following work legislation, and will keep your day moving while they change shifts seamlessly.</p>
                <p>The private driver package covers anywhere you want to go in Ireland.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 home-content-box">
        <h3 class="header-title home-titles">Can't find the answer you're looking for?</h3>
        <p>Contact our team and we will get back to you as soon as possible!</p>
        <a href="{% url 'contact' %}" rel="noopener" aria-label="Link to rent my car with Vroom">
            <button type="button" class="btn general-button">Contact us</button>
        </a>
    </div>
</div>
{% endblock %}