{% extends 'base.html' %}

{% block content %} 
<div class="row">
    <div class="col-12 header-strip profile-header">
        <h4>Frequently Asked Questions</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5>Question 1</h5>
        <p>Vroom is a platform where users can rent amazing cars from other users.</p>
        <p>We offer you safe payment and insurance is mandatory when renting one of the cars.</p>
        <p>Vroom has been used for a range of occasions such as tourism, amazing driving experiences, weddings, birthdays presents, business travels and much more.</p>
        <p>If you own one of the desired cars, Vroom is a chance for you to share your experience with others and also make a profit while your car is fully insured.</p>
        <h5>Question 2</h5>
        <p>Vroom is a platform where users can rent amazing cars from other users.</p>
        <p>We offer you safe payment and insurance is mandatory when renting one of the cars.</p>
        <p>Vroom has been used for a range of occasions such as tourism, amazing driving experiences, weddings, birthdays presents, business travels and much more.</p>
        <p>If you own one of the desired cars, Vroom is a chance for you to share your experience with others and also make a profit while your car is fully insured.</p>
    </div>
</div>
{% endblock %}