{% extends 'base.html' %}

{% block meta_description %}Vroom. Rent exclusive cars from other users.{% endblock %}

{% block title %}Vroom - Home{% endblock %}

{% block content %} 
<!-- Carousel -->
<div id="carouselIndex" class="carousel slide index-carousel box-shadow top-div" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="index-carousel-image custom-classic-img"></div>
            <div class="carousel-caption d-md-block">
                <h5>Custom Classics</h5>
                <p>You can't find these in the shops. Take this unique opportunity!</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="index-carousel-image luxury-img"></div>
            <div class="carousel-caption d-md-block">
                <h5>Luxury</h5>
                <p>Finesse, bespoke, unique. That's what you are looking for.</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="index-carousel-image supersport-img"></div>
            <div class="carousel-caption d-md-block">
                <h5>SuperSport</h5>
                <p>Exhilerating experience meets outrageous performance. Dare.</p>
            </div>
        </div>
    </div>
</div>
<!-- Using vroom for... -->
<div class="row content-boxes-title-row">
    <div class="col-12 header-title">
        <h1>What are users using Vroom for</h1>
    </div>
</div>
<div class="row content-boxes-content-row box-shadow">
    <div class="col-12 content-boxes using-vroom">
        <div class="index-content-boxes">
            <div class="row using-vroom-row">
                <div class="col-6 col-md-4 col-lg-2 offset-lg-1 using-vroom-item">
                    <i class="fas fa-user-tie"></i>
                    <p>Business Trips</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 using-vroom-item">
                    <i class="fas fa-flag-checkered"></i>
                    <p>Track days</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 using-vroom-item">
                    <i class="fas fa-birthday-cake"></i>
                    <p>Special events</p>
                </div>
                <div class="col-6 col-md-6 col-lg-2 using-vroom-item">
                    <i class="far fa-grin-stars"></i>
                    <p>Unique experience</p>
                </div>
                <div class="col-12 col-md-6 col-lg-2 using-vroom-item">
                    <i class="fas fa-gift"></i>
                    <p>Gift</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Find a car -->
<div class="row content-boxes-title-row">
    <div class="col-12 header-title">
        <h1>Find the car of your dreams!</h1>
    </div>
</div>
<div class="row content-boxes-content-row box-shadow">
    <div class="col-12 col-md-4 content-boxes luxury-box">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Go Luxury</h3>
            <p>Comfort, exclusiveness and finesse.</p>
            <p>Go around with comfort and confidence.</p>
            <p>A portfolio that includes Rolls Royce, Bentley and more.</p>
            <a href="{% url 'luxury_only' %}" class="btn general-button link-button" rel="noopener" aria-label="Link to Luxury cars page">
            Show more
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4 content-boxes custom-classic-box">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Go Custom Classic</h3>
            <p>Tradition, memories and uniqueness.</p>
            <p>Perfect for especial occasions.</p>
            <p>A portfolio that includes Chevy, Porshe and more.</p>
            <a href="{% url 'custom_classic_only' %}" class="btn general-button link-button" rel="noopener" aria-label="Link to Custom Classic cars page">
            Show more
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4 content-boxes supersport-box">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Go Supersport</h3>
            <p>Speed, power and technology.</p>
            <p>Experience the most desired track machines made street legal.</p>
            <p>A portfolio that includes Ferrari, Lamborghini and more.</p>
            <a href="{% url 'supersport_only' %}" class="btn general-button link-button" rel="noopener" aria-label="Link to Supersport cars page">
            Show more
            </a>
        </div>
    </div>
</div>
<!-- Rent my car -->
<div class="row content-boxes-title-row">
    <div class="col-12 header-title">
        <h1>I want to rent my car</h1>
    </div>
</div>
<div class="row content-boxes-content-row box-shadow">
    <div class="col-12 content-boxes vroom-my-car">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Vroom my car</h3>
            <p>If you have an amazing car and want to allow people to have the same experience as you or if you just want to rent it and make some extra money, this is the place for you.</p>
            <p>With Vroom you rent your car to other users with insurance coverage and safe payment.</p>
            <a href="{% url 'car_register' %}" class="btn general-button link-button" rel="noopener" aria-label="Link to rent my car with Vroom">
            Vroom my car
            </a>
        </div>
    </div>
</div>
<!-- Addons -->
<div class="row content-boxes-title-row">
    <div class="col-12 header-title">
        <h1>Great experience, safety and convenience</h1>
    </div>
</div>
<div class="row content-boxes-content-row box-shadow">
    <div class="col-12 col-md-4 content-boxes track-day-box">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Track Day</h3>
            <i class="fas fa-flag-checkered"></i>
            <p>Ready for the rush of adrenaline?</p>
            <p>Choose a full day, afternoon or morning on track.</p>
            <p>Coach on track just for you.</p>
            <a href="{% url 'all_cars' %}" class="btn general-button link-button" rel="noopener" aria-label="Link to all cars page">
            Find a car
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4 content-boxes insurance-box">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Insurance</h3>
            <i class="fas fa-hand-holding-usd"></i>
            <p>We look after you.</p>
            <p>Basic, standard or full coverage.</p>
            <p>Our partners will offer you a great deal.</p>
            <a href="{% url 'all_cars' %}" class="btn general-button link-button" rel="noopener" aria-label="Link to all cars page">
            Find a car
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4 content-boxes private-driver-box">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Private Driver</h3>
            <i class="far fa-id-card"></i>
            <p>Leave the driving with us</p>
            <p>Highly trained drivers.</p>
            <p>Get 24h coverage.</p>
            <a href="{% url 'all_cars' %}" class="btn general-button link-button"  rel="noopener" aria-label="Link to all cars page">
            Find a car
            </a>
        </div>
    </div>
</div>
<!-- Carousel of users testimonials     -->
<div class="row content-boxes-title-row">
    <div class="col-12 header-title">
        <h1>What our users have to say</h1>
    </div>
</div>
<div class="row content-boxes-content-row box-shadow">
    <div id="carouselTestimonials" class="carousel slide content-boxes testimonials-carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item testimonial-carousel-item active">
                <div class="row testimonials-carousel-row">
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Jane Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Such a great idea! Vroom takes away my concerns about transportation during my business trips.</p>
                    </div>
                    <div class="col-4 testimonials-carousel-img jane-doe">
                    </div>
                </div>
            </div>
            <div class="carousel-item testimonial-carousel-item">
                <div class="row testimonials-carousel-row">
                    <div class="col-4 testimonials-carousel-img joanne-doe">
                    </div>
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Joanne Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Amazing solution for my road trips abroad! Got an amazing car for a great price and also the car owner is a great friend of mine now!</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item testimonial-carousel-item">
                <div class="row testimonials-carousel-row">
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Joe Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Got as a present two full days in the car of my dreams and had a track day with it...Looking forward to my next birthday!</p>
                    </div>
                    <div class="col-4 testimonials-carousel-img joe-doe">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}