{% extends 'base.html' %}

{% block meta_description %}Vroom. Rent exclusive cars from other users.{% endblock %}

{% block title %}Vroom - Home{% endblock %}

{% block content %} 
<!-- Carousel -->
<div id="carouselIndex" class="carousel slide index-carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/index/customclassic.jpg" class= "index-carousel-image" alt="Image of a classic car">
      <div class="carousel-caption d-md-block">
        <h5>Custom Classics</h5>
        <p>You can't find these in the shops. Take this unique opportunity!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/images/index/supersport.jpg" class= "index-carousel-image" alt="Image of a luxurious car">
      <div class="carousel-caption d-md-block">
        <h5>Luxury</h5>
        <p>Finesse, bespoke, unique. That's what you are looking for.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/images/index/supersport3.jpg" class= "index-carousel-image" alt="Image of a supersport car">
      <div class="carousel-caption d-md-block">
        <h5>SuperSport</h5>
        <p>Exhilerating experience meets outrageous performance. Dare.</p>
      </div>
    </div>
  </div>
</div>
<!-- Find a car -->
<div class="row index-boxes-row">
    <div class="col-12 header-title">
        <h2>Find the car of your dreams!</h2>
    </div>
    <div class="col-12 col-md-4 index-boxes luxury-box">
        <!-- <img class="index-boxes-img" src="/static/images/index/business.jpg" alt=""> -->
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Go Luxury</h3>
            <p>Comfort, exclusiveness and finesse.</p>
            <p>Go around with comfort and confidence.</p>
            <p>A portfolio that includes Rolls Royce, Bentley and more.</p>
            <a href="{% url 'luxury_only' %}" rel="noopener" aria-label="Link to Luxury cars page">
                <button type="button" class="btn general-button">Show more</button>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4 index-boxes custom-classic-box">
        <!-- <img class="index-boxes-img" src="/static/images/index/customclassic2.jpg" alt=""> -->
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Go Custom Classic</h3>
            <p>Tradition, memories and uniqueness.</p>
            <p>Perfect for especial occasions.</p>
            <p>A portfolio that includes Chevy, Porshe and more.</p>
            <a href="{% url 'custom_classic_only' %}" rel="noopener" aria-label="Link to Custom Classic cars page">
                <button type="button" class="btn general-button">Show more</button>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4 index-boxes supersport-box">
        <!-- <img class="index-boxes-img" src="/static/images/index/supersport2.jpeg" alt=""> -->
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Go Supersport</h3>
            <p>Speed, power and technology.</p>
            <p>Experience the most desired track machines made street legal.</p>
            <p>A portfolio that includes Ferrari, Lamborghini and more.</p>
            <a href="{% url 'supersport_only' %}" rel="noopener" aria-label="Link to Supersport cars page">
                <button type="button" class="btn general-button">Show more</button>
            </a>
        </div>
    </div>
<!-- Rent my car -->
    <div class="col-12 header-title">
        <h2>I want to rent my car</h2>
    </div>
    <div class="col-12 index-boxes vroom-my-car">
        <div class="index-content-boxes">
            <!-- <img class="index-boxes-img" src="/static/images/index/vroommycar.jpg" alt=""> -->
            <h3 class="secondary-title-light">Vroom my car</h3>
            <p>If you have an amazing car and want to allow people to have the same experience as you or if you just want to rent it and make some extra money, this is the place for you.</p>
            <p>With Vroom you rent your car to other users with insurance coverage and safe payment.</p>
            <a href="{% url 'car_register' %}" rel="noopener" aria-label="Link to rent my car with Vroom">
                <button type="button" class="btn general-button">Vroom my car</button>
            </a>
        </div>
    </div>
<!-- Track day experience -->
    <div class="col-12 header-title">
        <h2>Adrenaline is what I need</h2>
    </div>
    <div class="col-12 index-boxes track-day">
        <div class="index-content-boxes">
            <!-- <img class="index-boxes-img" src="/static/images/index/trackdaydriver2.jpg" alt=""> -->
            <h3 class="secondary-title-light">Track day experience</h3>
            <p>Have you always wanted to experience racing in a sports car?</p>
            <p>Some of the cars for rent are set as track day available, which means they were prepared for track use.</p>
            <a href="#" rel="noopener" aria-label="Link to learn more about track days">
                <button type="button" class="btn general-button">Learn more</button>
            </a>
        </div>
    </div>
<!-- Using vroom for... -->
    <div class="col-12 header-title">
        <h2>What are users using Vroom for</h2>
    </div>
    <div class="col-12 index-boxes using-vroom">
        <div class="index-content-boxes">
            <!-- <img class="index-boxes-img" src="/static/images/index/usingvroom.jpg" alt=""> -->
            <!-- <div class="using-vroom-image"></div> -->
            <div class="row using-vroom-row">
                <div class="col-6 col-md-4 col-lg-2 offset-lg-1 using-vroom-item">
                    <i class="fas fa-user-tie"></i>
                    <p>Business Trips</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 using-vroom-item">
                    <i class="fas fa-flag-checkered"></i>
                    <p>Track days</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 using-vroom-item">
                    <i class="fas fa-birthday-cake"></i>
                    <p>Especial events</p>
                </div>
                <div class="col-6 col-md-6 col-lg-2 using-vroom-item">
                    <i class="far fa-grin-stars"></i>
                    <p>Unique experience</p>
                </div>
                <div class="col-12 col-md-6 col-lg-2 using-vroom-item">
                    <i class="fas fa-gift"></i>
                    <p>Gift</p>
                </div>
            </div>
        </div>
    </div>
<!-- Carousel of users testimonials     -->
    <div class="col-12 header-title">
        <h2>What our users have to say</h2>
    </div>
    <div id="carouselTestimonials" class="carousel slide index-boxes testimonials-carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item testimonial-carousel-item active">
                <div class="row testimonials-carousel-row">
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Jane Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Such a great idea! Vroom takes away my concerns about transportation during my business trips.</p>
                    </div>
                    <div class="col-4 testimonials-carousel-img jane-doe">
                        <!-- <img src="static/images/index/businesstestimonial.jpeg" class="col-4" alt="..."> -->
                    </div>
                </div>
            </div>
            <div class="carousel-item testimonial-carousel-item">
                <div class="row testimonials-carousel-row">
                    <div class="col-4 testimonials-carousel-img joanne-doe">
                        <!-- <img src="static/images/index/traveltestimonial.jpg" class="col-4" alt="..."> -->
                    </div>
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Joanne Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Amazing solution for my road trips abroad! Got an amazing car for a great price and also the car owner is a great friend of mine now!</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item testimonial-carousel-item">
                <div class="row testimonials-carousel-row">
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Joe Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Got as a present two full days in the car of my dreams and had a track day with it...Looking forward to my next birthday!</p>
                    </div>
                    <div class="col-4 testimonials-carousel-img joe-doe">
                        <!-- <img src="static/images/index/trackday.jpg" class="col-4" alt="..."> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}