{% extends "base.html" %}

{% block meta_description %}Vroom. Password reset successfull.{% endblock %}

{% block title %}Vroom - Reset Password Done{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 header-strip profile-header">
        <h4>Done!</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5>Check your e-mail</h5>
        <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
        <p>You should be receiving it shortly.</p>
        <p>If you have any further questions, visit our <a href="{% url 'faqs' %}">FAQs section</a></p>
        <p></p>
    </div>
</div>
{% endblock %}