{% extends "base.html" %}

{% block meta_description %}Vroom. Reset your Vroom password.{% endblock %}

{% block title %}Vroom - Reset Password{% endblock %}

{% block content %}
{% if validlink %}
<form action="" method="post" class="accountform">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    <fieldset class="form-group">
        <h2>Reset Password</h2>
        <p>Please enter your new password twice. So we can verify you typed it in correctly.</p>
        <p>{{ form.new_password1.errors }}</p>
        <label for="id_new_password1">New password:</label>
        <p>{{ form.new_password1 }}</p>
        <p>{{ form.new_password2.errors }}</p>
        <label for="id_new_password1">New password:</label>
        <p>{{ form.new_password2 }}</p>
        <input type="submit" class="btn general-button" value="Change my password" />
    </fieldset>
</form>
{% else %}
<div class="row">
    <div class="col-12 header-strip profile-header">
        <h4>Password reset unsuccessful</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5>What is Vroom?</h5>
        <p>The password reset link was unsuccessfull.</p>
        <p>Possibly because it has already been used.</p>
        <p>Please request a <a href="{% url 'password_reset' %}">new password reset</a>.</p>
    </div>
</div>
{% endif %}
{% endblock %}