{% extends "base.html" %}

{% block meta_description %}Vroom. Reset your Vroom password.{% endblock %}

{% block title %}Vroom - Reset Password{% endblock %}

{% block content %}

<form method="POST" class="accountform">
    <fieldset class="form-group">
        <h2>Reset Password</h2>
        <p>Please specify your email address to receive instructions for resetting it.</p>

        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        {{ form.email.errors }}
        
        <h3><label for="id_email" class="control-label required-field">E-mail address:</label></h3>
        <p>{{ form.email }}</p>
        <p><input type="submit" class="btn general-button" value="Reset password" /></p>
    </fieldset>
</form>
{% endblock %}