// Media Queries

@media (min-width: 992px){
    .lg-screen {
        display: initial;
    }
    .sm-md-screen {
        display: none;
    }
    .logo-nav {
        margin-right: 1rem;
    }
    .container {
        max-width: 80vw;
    }
    .unauthorised-box {
        .card-button {
            max-width: 12vw;
        }
    }
    .car-card {
        max-width: 47%;
        padding: 0;
        margin: 0 1.5%;
        margin-bottom: 2rem;
    }
    .cards-row {
        margin: 0;
    }
    .edit-car-form-images {
        .form-control-file {
            width: 50%;
            margin: auto;
        }
    }
    .order-item-header {
        display: flex;
    }
    .item-description-title,
    .item-description {
        text-align: left;
    }
    .item-description-title,
    .days-description-title,
    .total-description-title,
    .item-description,
    .item-days,
    .item-total {
        padding: 0.5rem 1rem;
    }
    .item-total{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .checkout-form-field {
        padding: 0 0.5rem !important;
        margin-top: 1rem;
    }
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        background-color: black;
        padding: 1rem;
        z-index: 11;
    }
    .lg-screen {
        display: none;
    }
    .edit-car-form-images {
        .form-group {
            overflow-x: scroll;
        }
    }
}
