$dark-grey: #252525;
$bright-orange: #ff7b00;
$bright-yellow: #ffd000;

$orange-border: 1px solid $bright-orange;

$header-shadow-darkbg: -1px 2px 3px #7d7979;
$header-shadow-lightbg: -1px 2px 3px #000000bd;
$inner-shadow-dark: inset 1px -2px 6px 1px #000000;
