{% extends 'base.html' %}

{% block meta_description %}Vroom. View car details.{% endblock %}

{% block title %}Vroom - Add ons{% endblock %}

<!-- <div class="row">
    <div class="col-12 header-strip profile-header">
        <h4>Track Days</h4>
        {% for item in track_day %}
            <p>{{ item.title }} - {{ item.coverage }}</p>
            <p>{{ item.price }}$ per day</p>
            <p>{{ item.description }}</p>
            <div>{{ item.image }}</div>
            <form method="POST" action="{% url 'add_to_cart' item.id %}">
                {% csrf_token %}
                <div class="input-area mt-3">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="How many days?">
                    <button class="btn general-button card-button" type="submit">Vroom!</button> 
                </div>
            </form>
        {% endfor %}
    </div>
    <div class="col-12 header-strip profile-header">
        <h4>Private Driver</h4>
        {% for item in private_driver %}
            <p>{{ item.title }}</p>
            <p>{{ item.price }}€ per day</p>
            <p>{{ item.description }}</p>
            <div>{{ item.image }}</div>
            <!-- <form method="POST" action="{% url 'add_to_cart' item.id %}">
                {% csrf_token %}
                <div class="input-area mt-3">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="How many days?">
                    <button class="btn general-button card-button" type="submit">Vroom!</button> 
                </div>
            </form> -->
        <!-- {% endfor %}
    </div>
</div> --> -->


{% block content %} 
<!-- Track day experience -->
    <div class="col-12 header-title">
        <h2>Adrenaline is what I need</h2>
    </div>
    <div class="col-12 index-boxes track-day">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Track day experience</h3>
            <p>We offer great options for track day driving. You can choose between morning, afternoon or a full track day.</p>
            <p>Your track experience fee includes a coach to help you having fun and exploring the cars potential while staying safe.</p>
            <p>Before choosing the track experience:</p>
            <ol>
                <li>Choose a car that is elegible for track days</li>
                <li>During checkout, set the length of the sessions and how many days you want</li>
                <li>Once the payment is through, you are good to go!</li>
            </ol>
            <a href="{% url 'all_cars' %}" rel="noopener" aria-label="Link to find a car to rent">
                <button type="button" class="btn general-button">Find a Car</button>
            </a>
        </div>
    </div>
<!-- Carousel of Track Day testimonials     -->
    <div class="col-12 header-title">
        <h2>What our Track Experience users have to say</h2>
    </div>
    <div id="carouselTrackTestimonials" class="carousel slide index-boxes testimonials-carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item testimonial-carousel-item active">
                <div class="row testimonials-carousel-row">
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Jane Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Easy to book and the track coach makes all the difference! By the end of my track weekend I feel I've improved SO MUCH! Can't wait to go again!</p>
                    </div>
                    <div class="col-4 testimonials-carousel-img jane-doe">
                    </div>
                </div>
            </div>
            <div class="carousel-item testimonial-carousel-item">
                <div class="row testimonials-carousel-row">
                    <div class="col-4 testimonials-carousel-img joanne-doe">
                    </div>
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Joanne Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Rented a Porshe 911 and got the full track day package. It's safe to say I am totally hooked!</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item testimonial-carousel-item">
                <div class="row testimonials-carousel-row">
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Joe Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>I had some experience on the track but never in a Ferrari and never had a track coach. With the coaching, I improved so much that by the end of the day I was driving with the fast guys!</p>
                    </div>
                    <div class="col-4 testimonials-carousel-img joe-doe">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
<!-- Private Driver experience -->
    <div class="col-12 header-title">
        <h2>Leave the driving with us</h2>
    </div>
    <div class="col-12 index-boxes track-day">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Private Driver experience</h3>
            <p>Let our highly trained professionals deal with the driving while you focus on what is important.</p>
            <p>Have your driving needs covered 24h. Our drivers will rotate seamlessly to assure you have a driver at all times when hiring our service.</p>
            <p>Our drivers are trained locally to know all the streets and roads, helping you getting where you need when you need.</p>
            <p>Before choosing the private driver experience:</p>
            <ol>
                <li>Choose the car you want to rent.</li>
                <li>During checkout, set the number of days you want on the private driver service</li>
                <li>Once the payment is through, you are all set!</li>
            </ol>
            <a href="{% url 'all_cars' %}" rel="noopener" aria-label="Link to find a car to rent">
                <button type="button" class="btn general-button">Find a Car</button>
            </a>
        </div>
    </div>
<!-- Carousel of Private Driver testimonials     -->
    <div class="col-12 header-title">
        <h2>What our private driver experience users have to say</h2>
    </div>
    <div id="carouselDriverTestimonials" class="carousel slide index-boxes testimonials-carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item testimonial-carousel-item active">
                <div class="row testimonials-carousel-row">
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Jane Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Never been in Dublin before but with the private driver there was absolutely no hassle! Very friendly staff and they knew their way around. Totally recommended!</p>
                    </div>
                    <div class="col-4 testimonials-carousel-img jane-doe">
                    </div>
                </div>
            </div>
            <div class="carousel-item testimonial-carousel-item">
                <div class="row testimonials-carousel-row">
                    <div class="col-4 testimonials-carousel-img joanne-doe">
                    </div>
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Joanne Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Great service! Hired them for one of my associates going abroad and the hours saved on getting lost and traffic were converted in very productive hours. Brilliant idea, I recommend!</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item testimonial-carousel-item">
                <div class="row testimonials-carousel-row">
                    <div class="col-8 testimonials-carousel-text">
                        <h4 class="secondary-title-light">Joe Doe</h4>
                        <hr class="testimonials-carousel-hr">
                        <p>Rented a Rolls Royce Phantom and the driver for our wedding and that was the best idea E-V-E-R! One thing less to stress on our wedding day!</p>
                    </div>
                    <div class="col-4 testimonials-carousel-img joe-doe">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}