{% extends "base.html" %}

{% block meta_description %}Vroom. Edit details of your car.{% endblock %}

{% block title %}Vroom - Edit My Car{% endblock %}

{% block content %}
{% if user.id != request.user.id %}

{% include 'unauthorised.html' %}

{% else %}
<div class="col-12 col-md-10 offset-md-1 form-box">
    {% include 'forms/edit_car_form.html' %}
</div>
<div class="col-12 col-md-10 offset-md-1 form-box">
    <form method="POST" action="{% url 'delete_car' car.id %}">
        <fieldset class="form-group">
            <h2 class="header-title header-form-title">Delete this car</h2>
            {% csrf_token %}
            <p>Once you press the delete button, this car will be permanently deleted</p>
            <button type="submit" class="btn general-button">Delete</button>
        </fieldset>
    </form>
</div>
{% endif %}
{% endblock %}
