{% extends 'base.html' %}

{% block meta_description %}Vroom. Find a car to rent.{% endblock %}

{% block title %}Vroom - Find a Car{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 header-strip ">
        <h4>Find a Car</h4>
    </div>
    <div class="col-12">
        <p>Here you will find what you're looking for.</p>
        <p>Classic cars with unique history bringing nostalgia or maybe classics with a modern heart delivering amazing performance.</p>
        <p>If you are looking for luxury and exclusiveness, here you will find the pinacle of the luxury cars universe.</p>
        <p>In case you are seeking performance and adrenaline, you will find what you are looking for under our wide purebred supersports cars selection</p>
    </div>
</div>
<div class="row search-row">
    <div class="col-12 search-box">
        <form class="search-form" action="{% url 'search' %}" method="get">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 search-box">
                    <label for="search_select">Search by:</label>
                    <select class="form-control" name="search_key" id="search_select">
                        <option>Brand</option>
                        <option>Location</option>
                        <option>Model</option>
                        <option>Year</option>
                    </select>
                </div>
                <div class="col-9 col-md-4 offset-md-3 col-lg-3 offset-lg-4 search-box text-input-box">
                    <input id="searchTextInput" class="search-text-input" type="text" name="search_value" placeholder="Search here">
                </div>
                <div class="col-3 col-md-2 col-lg-1 search-box search-button-box">
                    <button id="searchSubmitBtn" class="search-button disabled-button" type="submit" disabled>Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if not cars %}
<div class="row content-boxes-title-row">
    <div class="col-12 header-title">
        <h1>No cars to display</h1>
    </div>
    <div class="col-12">
        <p>Your search returned no results</p>
        <p>Have a look at our categories below to find the car you are looking for!</p>
    </div>
</div>
<div class="row content-boxes-content-row box-shadow">
    <div class="col-12 col-md-4 content-boxes luxury-box">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Go Luxury</h3>
            <p>Comfort, exclusiveness and finesse.</p>
            <p>Go around with comfort and confidence.</p>
            <p>A portfolio that includes Rolls Royce, Bentley and more.</p>
            <a href="{% url 'luxury_only' %}" class="btn general-button link-button" rel="noopener" aria-label="Link to Luxury cars page">
            Show more
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4 content-boxes custom-classic-box">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Go Custom Classic</h3>
            <p>Tradition, memories and uniqueness.</p>
            <p>Perfect for especial occasions.</p>
            <p>A portfolio that includes Chevy, Porshe and more.</p>
            <a href="{% url 'custom_classic_only' %}" class="btn general-button link-button" rel="noopener" aria-label="Link to Custom Classic cars page">
            Show more
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4 content-boxes supersport-box">
        <div class="index-content-boxes">
            <h3 class="secondary-title-light">Go Supersport</h3>
            <p>Speed, power and technology.</p>
            <p>Experience the most desired track machines made street legal.</p>
            <p>A portfolio that includes Ferrari, Lamborghini and more.</p>
            <a href="{% url 'supersport_only' %}" class="btn general-button link-button" rel="noopener" aria-label="Link to Supersport cars page">
            Show more
            </a>
        </div>
    </div>
</div>
{% endif%}
{% for car in cars %}
<div class="row cards-row car-card">
    <div class="col-12 card card-header ">
        <h4 class="card-title">{{ car.brand|upper }} {{ car.model|upper }} {{ car.year }}</h4>
    </div>
    <div id="{{ car.brand }}{{ car.id }}" class="carousel slide car-carousel" data-interval="false">
        <div class="carousel-inner black-bg">
            <div class="carousel-item car-carousel-item active">
                <img src="{{ MEDIA_URL }}{{ car.image1 }}" class="car-carousel-img" alt="image of a {{ car.year }} {{ car.brand }} {{ car.model }}">
            </div>
            {% if car.image2 %}
            <div class="carousel-item car-carousel-item">
                <img src="{{ MEDIA_URL }}{{ car.image2 }}" class="car-carousel-img" alt="image of a {{ car.year }} {{ car.brand }} {{ car.model }}">
            </div>
            {% endif %}
            {% if car.image3 %}
            <div class="carousel-item car-carousel-item">
                <img src="{{ MEDIA_URL }}{{ car.image3 }}" class="car-carousel-img" alt="image of a {{ car.year }} {{ car.brand }} {{ car.model }}">
            </div>
            {% endif %}
            {% if car.image4 %}
            <div class="carousel-item car-carousel-item">
                <img src="{{ MEDIA_URL }}{{ car.image4 }}" class="car-carousel-img" alt="image of a {{ car.year }} {{ car.brand }} {{ car.model }}">
            </div>
            {% endif %}
            {% if car.image5 %}
            <div class="carousel-item car-carousel-item">
                <img src="{{ MEDIA_URL }}{{ car.image5 }}" class="car-carousel-img" alt="image of a {{ car.year }} {{ car.brand }} {{ car.model }}">
            </div>
            {% endif %}
        </div>
        <a class="carousel-control-prev" href="#{{ car.brand }}{{ car.id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#{{ car.brand }}{{ car.id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row card-body">
        <div class="col-12 col-md-4 card-text">
            <p>{{ car.car_class }}</p>
            <p><i class="fas fa-cogs"></i> {{ car.engine_type }} {{ car.displacement }}L</p>
            <p><i class="fas fa-gas-pump"></i> {{ car.fuel }} - {{ car.transmission }}</p>
            <p>{{ car.doors }} doors - {{ car.passengers }} seats</p>
            <p><i class="fas fa-map-marked-alt"></i> {{ car.city }} - {{ car.country }}</p>
        </div>
        <div class="col-12 col-md-4">
            <h3 class="card-price">€ {{ car.price }}</h3>
            <h5>per day</h5>
        </div>
        <div class="col-12 col-md-4">
            <form method="POST" action="{% url 'add_to_cart' 'car' car.id %}">
                {% csrf_token %}
                <div class="input-area car-input-area">
                    <input name="quantity" type="number" min="1" max="999" class="form-control addon-input" placeholder="How many days?">
                    <button class="btn general-button card-button addon-submit disabled-button" type="submit" disabled>Vroom!</button> 
                </div>
            </form>
            <a href="{% url 'car_detail' car.id %}" class="btn general-button card-button car-view-button" rel="noopener" aria-label="Link to page with car details">
            View Details
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}