@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto&family=Russo+One&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, .nav-icons:hover {
  color: #ff7b00;
}

i {
  font-size: 2.5rem;
}

.lg-screen {
  display: none;
}

.content-container {
  padding: 0;
}

.row {
  max-width: 100%;
  margin: 0;
}

.fas {
  font-size: inherit;
}

.header-strip {
  padding: 0.5rem 0;
  background-color: #252525;
  color: white;
  text-shadow: -1px 2px 3px #7d7979;
  -webkit-box-shadow: -1px 4px 10px black;
          box-shadow: -1px 4px 10px black;
}

.cards-row {
  max-width: 100%;
  padding: 0;
  margin: 1rem;
}

.header-title {
  padding: 3rem 0.5rem 1rem;
  background-color: white;
  color: #252525;
  text-shadow: -1px 2px 3px #000000bd;
}

.secondary-title-light {
  text-shadow: -1px 2px 3px #000000bd;
  margin-bottom: 1rem;
}

.secondary-title-dark {
  text-shadow: -1px 2px 3px #7d7979;
  margin-bottom: 1rem;
}

.logo-nav {
  font-family: "Audiowide", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

.menu-nav {
  font-family: "Russo One", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}

.heading-text {
  font-family: "Audiowide", sans-serif;
  color: inherit;
}

.secondary-text {
  font-family: "Russo One", sans-serif;
  font-weight: 900;
  color: inherit;
}

p {
  font-size: 1.2rem;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Audiowide", sans-serif;
  color: inherit;
  margin: 0;
}

.index-boxes {
  height: 40vh;
  overflow: hidden;
  padding: 0;
  z-index: 1;
  color: white;
  border: 1px solid #ff7b00;
}

.index-boxes-img {
  max-height: 105%;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.index-boxes-row {
  background-color: black;
  max-width: 100%;
  margin: 0;
}

.index-content-boxes {
  padding: 1rem;
  background-color: #0000008f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.index-boxes-row p {
  margin: 0;
}

.luxury-box {
  background-image: url("../images/index/business.jpg");
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.custom-classic-box {
  background-image: url("../images/index/customclassic2.jpg");
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.supersport-box {
  background-image: url("../images/index/supersport2.jpeg");
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.vroom-my-car {
  color: white;
  padding: 0;
  background-image: url("../images/index/vroommycar.jpg");
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.track-day {
  padding: 0;
  background-image: url("../images/index/trackdaydriver2.jpg");
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.track-day .index-boxes-img {
  height: initial;
}

.using-vroom {
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url("../images/index/usingvroom.jpg");
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.using-vroom-item {
  margin: 1rem auto;
}

.using-vroom-item i {
  font-size: 4rem;
}

.search-row {
  margin: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-row .form-control {
  border: 1px solid #252525;
}

.search-row label {
  font-family: "Audiowide", sans-serif;
  font-size: 1.5rem;
  color: inherit;
  text-shadow: -1px 2px 3px #000000bd;
}

.search-row input {
  border: 1px solid #252525;
  border-radius: 0.25rem;
}

.search-row button {
  font-family: "Audiowide", sans-serif;
  border: 3px solid #ff7b00;
  background-color: #ff7b00;
  color: black;
  -webkit-box-shadow: -1px 4px 9px 1px black;
          box-shadow: -1px 4px 9px 1px black;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}

.car-cards-row {
  margin-top: 1.5rem;
}

.car-view-button {
  margin: 0 !important;
}

.cart-items-row {
  padding: 1rem;
}

.cart-item {
  margin: 1rem 0;
  padding: 0;
  border: 1px solid #ff7b00;
}

.cart-item-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.cart-line1-col {
  background-color: #252525;
  color: white;
  text-shadow: -1px 2px 3px #7d7979;
}

.item-line-2 {
  padding: 0 0.5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-line2-col {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.cart-item-image {
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.cart-item-image img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 130%;
  max-width: 130%;
}

.cart-item-description {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-item-description h5, .cart-item-description p {
  margin: 0;
}

.cart-form-inline {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-form-inline > .cart-form-group {
  border: none;
  margin: 0;
  padding: 1rem 0;
}

.cart-form-inline > .general-button {
  margin: 0;
}

.cart-checkout {
  margin-bottom: 1rem;
}

.order-summary-row, .payment-form-row {
  margin: 1rem;
  border: 1px solid #ff7b00;
}

.order-summary-header {
  border-bottom: 1px solid #ff7b00;
  background-color: #252525;
  color: white;
  text-shadow: -1px 2px 3px #7d7979;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.order-item-header {
  border-bottom: 1px solid #ff7b00;
  padding-bottom: 0.25rem;
}

.order-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.25rem 0;
}

.order-item p {
  margin: 0;
}

.item-description-col7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  text-align: left;
}

.item-days-col2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.item-total-col3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.order-total {
  background-color: #252525;
  color: white;
  text-shadow: -1px 2px 3px #7d7979;
  border-top: 1px solid #ff7b00;
  min-width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

.order-total h5 {
  margin: 0;
}

.total-text, .total-value {
  padding: 0;
}

.payment-form {
  min-width: 100%;
}

.payment-form .outter-form-group {
  margin: 0;
  border: none;
  padding: 1rem;
}

.payment-form .form-group {
  margin: 0;
}

.profile-header {
  margin: 1rem 0;
}

.profile-info {
  margin-top: 1rem;
}

.general-button {
  font-family: "Audiowide", sans-serif;
  border: 3px solid #ff7b00;
  background-color: #ff7b00;
  color: black;
  -webkit-box-shadow: -1px 4px 9px 1px black;
          box-shadow: -1px 4px 9px 1px black;
  padding: 0 0.5rem;
  margin: 1rem;
}

.car-card {
  padding: 0;
  margin-bottom: 1rem;
  border: 1px solid #ff7b00;
  -webkit-box-shadow: -3px 5px 8px #0000009c;
          box-shadow: -3px 5px 8px #0000009c;
}

.car-card .carousel {
  border: 1px solid #ff7b00;
}

.car-carousel-img {
  width: 130%;
  position: absolute;
  top: -12%;
  left: -15%;
}

.card-header {
  border: 1px solid #ff7b00;
  background-color: #252525;
}

.card-title {
  margin: 0;
  color: white;
  text-shadow: -1px 2px 3px #7d7979;
}

.card-body {
  border: 1px solid #ff7b00;
}

.card-text p {
  margin: 0;
}

.card-price {
  text-shadow: -1px 2px 3px #000000bd;
  margin-top: 1rem;
}

.input-area .form-control {
  width: 50%;
  margin: auto;
}

.card-button {
  width: 50%;
}

nav {
  background-color: #252525;
}

.navbar {
  padding: 0 1rem;
}

.logo-nav {
  margin: 0;
}

.nav-icons {
  font-size: 1.5rem;
  margin: 0.25rem;
}

.navbar-nav .dropdown-menu {
  text-align: center;
}

.dropdown-item.active, .dropdown-item:active {
  color: inherit;
  background-color: #ff7b00;
}

.badge {
  position: absolute;
  right: 1rem;
}

.navbar-toggler {
  border: 1px solid white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer {
  background-color: #252525;
  color: white;
}

.footer-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.footer-col {
  margin: 1rem auto;
}

.index-carousel {
  border: 1px solid #ff7b00;
}

.carousel-item {
  height: 50vh;
}

.index-carousel-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.luxury-img {
  background-image: url("../images/index/business.jpg");
}

.custom-classic-img {
  background-image: url("../images/index/customclassic.jpg");
}

.supersport-img {
  background-image: url("../images/index/supersport3.jpg");
}

.carousel-caption {
  text-shadow: -1px 2px 3px #000000bd;
  background-color: #0000003d;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  right: 0;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.testimonials-carousel {
  padding: 0;
}

.testimonial-carousel-item {
  height: 40vh;
}

.testimonials-carousel-row {
  max-width: 100vw;
  height: 100%;
  margin: 0;
  color: white;
}

.testimonials-carousel-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials-carousel-text p {
  line-height: 1.5rem;
}

.testimonials-carousel-hr {
  margin: 0.5rem auto;
  display: block;
  width: 80%;
  border: 1px solid #ff7b00;
}

.testimonials-carousel-img {
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.jane-doe {
  background-image: url("../images/index/businesstestimonial.jpeg");
  -webkit-box-shadow: inset 4px 0px 5px black;
          box-shadow: inset 4px 0px 5px black;
}

.joanne-doe {
  background-image: url("../images/index/traveltestimonial.jpg");
  -webkit-box-shadow: inset -4px 0px 5px black;
          box-shadow: inset -4px 0px 5px black;
}

.joe-doe {
  background-image: url("../images/index/trackday.jpg");
  -webkit-box-shadow: inset 4px 0px 5px black;
          box-shadow: inset 4px 0px 5px black;
}

.form-group {
  margin: 1rem;
  border: 1px solid #ff7b00;
  padding: 1.5rem 0;
}

.form-group div {
  border: none;
  padding: 0;
}

.form-group a {
  color: #ff7b00;
}

@media (min-width: 992px) {
  .lg-screen {
    display: inline-block;
  }
  .sm-md-screen {
    display: none;
  }
  .logo-nav {
    margin-right: 1rem;
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    background-color: black;
    padding: 1rem;
    z-index: 11;
  }
}
