{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block meta_description %}Vroom. Cart checkout.{% endblock %}

{% block title %}Vroom - Checkout{% endblock %}

{% block head_js %}
<!-- Direct link for stripe's javascript -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<!-- Setting up the Stripe.publishableKey and making it available for us to use in the page-->
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<!-- we're putting the stripe.js file in a js directory within our static -->
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row order-summary-row">
    <div class="col-12 order-summary-header">
        <h5>Order Summary</h5>
    </div>
    <div class="row order-item-header lg-screen">
        <div class="col-7 item-description-title">
            <h6>Item</h6>
        </div>
        <div class="col-2 days-description-title">
            <h6>Days</h6>
        </div>
        <div class="col-3 total-description-title">
            <h6>Total</h6>
        </div>
    </div>
    <div class="row order-item-line">
    <!-- Loop to display each of the items in the cart -->
    {% for item in cart_items %}
        {% if item.item_type == 'car' %}
        <div class="col-12 col-md-7 item-description">
            <h5>{{ item.item.year }} {{ item.item.brand|upper }} {{ item.item.model|upper }}</h5>
        </div>
        {% else %}
        <div class="col-12 col-md-7 item-description">
            <h5>{{ item.item.title|upper }} {{ item.item.coverage }}</h5>
        </div>
        {% endif %}
        <div class="col-12 col-md-2 item-days">
            <p>{{ item.quantity }} {% if item.quantity > 1 %}days {% else %}day {% endif %}</p>
        </div>
        <div class="col-12 col-md-3 item-total">
            {% for key in partial_value %}
            {% if key.item_type == item.item_type %}
            <h6><i class="fas fa-euro-sign"></i> {{ key.item_total }}</h6>
            {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div class="row order-total">
        <div class="col-12 col-md-9 text-left">
            <h3>TOTAL</h3>
        </div>
        <div class="col-12 col-md-3">
            <h3><i class="fas fa-euro-sign"></i> {{ total_cart }}</h3>
        </div>
    </div>
</div>

<div class="row payment-form-row">
    <form class="payment-form" role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        {% csrf_token %}
        <div class="col-12 order-summary-header">
            <h5>Payment Details</h5>
        </div>
        <!-- This div is a default display none but will be displayed in case of an error -->
        <div id="credit-card-errors" style="display: none;">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <!-- <div class="col-12 outter-form-group"> -->
            <div class="row">
                <div class="col-12">
                    <h2 class="header-title header-form-title">Order Details</h2>
                    <p>Please fill the fields with your order details.</p>
                </div>
                {% include 'forms/order_form.html' %}
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="header-title header-form-title">Payment Details</h2>
                    <p>Please fill the fields with your payment details.</p>
                </div>
                {% include 'forms/order_form.html' %}
            </div>
        <div class="col-12 outter-form-group">
            <input class=" btn general-button" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
</div>
{% endblock %}