{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block meta_description %}Vroom. Edit your profile information.{% endblock %}

{% block title %}Vroom - Edit Profile{% endblock %}

{% block content %}
{% if user.id != request.user.id %}

{% include 'unauthorised.html' %}

{% else %}
<div class="form-box">
    <form enctype="multipart/form-data" method="POST" action="{% url 'edit_user' user.id %}">
        <fieldset class="form-group">
            <div class="row">
                <div class="col-12 header-title edit-user-title">
                    <h2>Edit my Profile</h2>
                </div>
                {% csrf_token %}
                <div class="col-12 col-md-6 edit-user-forms">
                    {{ edit_user_form.username|as_crispy_field }}
                </div>
                <div class="col-12 col-md-6 edit-user-forms">
                    {{ edit_user_form.email|as_crispy_field }}
                </div>
                <div class="col-12 col-md-6 edit-user-forms">
                    {{ edit_user_form.first_name|as_crispy_field }}
                </div>
                <div class="col-12 col-md-6 edit-user-forms">
                    {{ edit_user_form.last_name|as_crispy_field }}
                </div>
                <div class="col-12 col-md-6 edit-user-forms">
                    {{ edit_pw_form.password1|as_crispy_field }}
                </div>
                <div class="col-12 col-md-6 edit-user-forms">
                    {{ edit_pw_form.password2|as_crispy_field }}
                </div>
                <div class="col-12 edit-user-forms">
                    <button type="submit" class="btn general-button">Update</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="form-box">
    <form method="POST" action="{% url 'delete_user' user.id %}">
        <fieldset class="form-group">
        {% csrf_token %}
            <div class="row">
                <div class="col-12 header-title">
                    <h2>Delete my profile</h2>
                </div>
                <div class="col-12">
                    <p>Once you press the delete button, your account will be permanently deleted</p>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn general-button">Delete</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endif %}
{% endblock %}
