{% extends "base.html" %}

{% block meta_description %}Vroom. User profile.{% endblock %}

{% block title %}Vroom - Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 header-strip profile-header">
        <h4>{{ user.username|upper }}'s PROFILE</h4>
    </div>
</div>
<div class="row profile-row">
    <div class="col-12 profile-info">
        <h5>First name:</h5>
        <p>{{ user.first_name }}</p>
    </div>
    <div class="col-12 profile-info">
        <h5>Last name:</h5>
        <p>{{ user.last_name }}</p>
    </div>
    <div class="col-12 profile-info">
        <h5>Email:</h5>
        <p>{{ user.email }}</p>
    </div>
    <div class="col-12 profile-info">
        <h5>Member since:</h5>
        <p>{{ user.date_joined }}</p>
    </div>
    {% if user.id == request.user.id %}
    <div class="col-12 col-md-4 offset-md-4">
        <a href="{% url 'edit_user' user.id %}" rel="noopener" aria-label="Button to allow user to edit personal information">
            <button type="button" class="btn general-button card-button">Edit Profile</button>
        </a>
    </div>
    {% endif %}
</div>
{% if cars %}
<div class="row">
    <div class="col-12 header-strip profile-header">
        <h4>{{ user.username|upper }}'s CARS</h4>
    </div>
</div>
{% for car in cars %}
<div class="row cards-row car-card">
    <div class="col-12 card card-header">
        <h4 class="card-title">{{ car.brand|upper }} {{ car.model|upper }} {{ car.year }}</h4>
    </div>
    <div id="{{ car.brand }}{{ car.id }}" class="carousel slide car-carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item car-carousel-item active">
                <img src="{{ MEDIA_URL }}{{ car.image1 }}" class="car-carousel-img" alt="image of a {{ car.year }} {{ car.brand }} {{ car.model }}">
            </div>
            <div class="carousel-item car-carousel-item">
                <img src="{{ MEDIA_URL }}{{ car.image2 }}" class="car-carousel-img" alt="image of a {{ car.year }} {{ car.brand }} {{ car.model }}">
            </div>
            <div class="carousel-item car-carousel-item">
                <img src="{{ MEDIA_URL }}{{ car.image3 }}" class="car-carousel-img" alt="image of a {{ car.year }} {{ car.brand }} {{ car.model }}">
            </div>
            <div class="carousel-item car-carousel-item">
                <img src="{{ MEDIA_URL }}{{ car.image4 }}" class="car-carousel-img" alt="image of a {{ car.year }} {{ car.brand }} {{ car.model }}">
            </div>
            <div class="carousel-item car-carousel-item">
                <img src="{{ MEDIA_URL }}{{ car.image5 }}" class="car-carousel-img" alt="image of a {{ car.year }} {{ car.brand }} {{ car.model }}">
            </div>
        </div>
        <a class="carousel-control-prev" href="#{{ car.brand }}{{ car.id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#{{ car.brand }}{{ car.id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row card-body">
        <div class="col-12 col-md-4 card-text">
            <p>{{ car.car_class }}</p>
            <p><i class="fas fa-cogs"></i> {{ car.engine_type }} {{ car.displacement }}L</p>
            <p><i class="fas fa-gas-pump"></i> {{ car.fuel }} - {{ car.transmission }}</p>
            <p>{{ car.doors }} doors - {{ car.passengers }} seats</p>
            <p><i class="fas fa-map-marked-alt"></i> {{ car.city }} - {{ car.country }}</p>
        </div>
        <div class="col-12 col-md-4">
            <h3 class="card-price">€ {{ car.price }}</h3>
            <h5>per day</h5>
        </div>
        <div class="col-12 col-md-4">
            <form method="POST" action="{% url 'add_to_cart' 'car' car.id %}">
                {% csrf_token %}
                <div class="input-area car-input-area">
                    <input name="quantity" type="number" min="1" max="999" class="form-control addon-input" placeholder="How many days?">
                    <button class="btn general-button card-button addon-submit disabled-button" type="submit">Vroom!</button> 
                </div>
            </form>
            <h5 class="card-price">{{ car.price }} per day</h5>
            <a href="{% url 'car_detail' car.id %}" class="btn general-button card-button" rel="noopener" aria-label="View this cars details">
            View Details
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}