<div class="row">
    <div class="col-12 header-strip">
        <h4>Unauthorised Access</h4>
    </div>
</div>
<div class="row">
    <div class="col-12 unauthorised-box">
        <h4>UH OH! You don't have access to this page.</h4>
        <p>Not to worry! Just choose another page you want to go:</p>
        <p>You can go to the home page:</p>
        <a href="{% url 'index' %}" rel="noopener" aria-label="Button to allow user to edit personal information">
            <button type="button" class="btn general-button card-button">Home</button>
        </a>
        <p>YFind that car you dream about driving:</p>
        <a href="{% url 'all_cars' %}" rel="noopener" aria-label="Button to allow user to edit personal information">
            <button type="button" class="btn general-button card-button">Find a car</button>
        </a>
        <p>Maybe you want to rent your car to other users:</p>
        <a href="{% url 'car_register' %}" rel="noopener" aria-label="Button to allow user to edit personal information">
            <button type="button" class="btn general-button card-button">Vroom my car</button>
        </a>
    </div>
</div>