.addon-track-box {
    background-image: url("../images/addons/track_day_car1.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.addon-insurance-box {
    background-image: url("../images/addons/man_driving.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.addon-driver-box {
    background-image: url("../images/addons/private_driver.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.addon-box {
    background-color: $dark-grey;
}