// Cart

.cart-items-row {
    padding: 1rem;
    h5, p {
        margin: 0;
    }
}
.cart-item-line {
    display: flex;
    margin: 0;
    padding: 0;
}
.cart-item {
    padding: 0;
    margin-bottom: 1rem;
    border: $orange-border;
}
.item-line-1 {
    text-align: left;
    padding: 0.5rem;
    align-items: center;
    background-color: $eerie-black;
    color: white;
    text-shadow: $header-shadow-darkbg;
}
.delete-button-box {
    padding: 0;
    .cart-form-inline {
        float: right;
        padding-right: 1rem;
    }
    .general-button {
        margin: 0;
    }
}
.item-line-2 {
    margin: 0;
    padding: 0.5rem 0.5rem;
    align-items: center;
}
.cart-form-inline {
    justify-content: center;
}
.cart-form-inline > .cart-form-group {
    border: none;
    margin: 0;
    padding: 0.5rem;
}
.cart-form-inline > .general-button {
    margin: 0;
}

.cart-checkout {
    margin-bottom: 1rem;
}
