// Checkout

.order-summary-row, .payment-form-row {
    margin: 1rem;
    border: $orange-border;
}
.order-summary-header {
    border-bottom: $orange-border;
    background-color: $dark-grey;
    color: white;
    text-shadow: $header-shadow-darkbg;
    padding: 0.5rem 0;
}
.order-item-header {
    width: 100%;
    border-bottom: $orange-border;
    padding-bottom: 0.25rem;
}
.order-item-line {
    width: 100%;
    margin: 0;

    p {
        margin: 0;
    }
}
.item-description {
    padding: 0;
 
}
.item-total{
    padding-bottom: 1rem;
    border-bottom: 1px solid $bright-orange;
}
.order-total {
    background-color: $dark-grey;
    color: white;
    text-shadow: $header-shadow-darkbg;
    border-top: $orange-border;
    min-width: 100%;
    padding: 0.5rem 0rem;

    h5 {
        margin: 0;
    }
}
.checkout-form-field {
    .form-group {
        border: none;
        padding: 0;
        margin: 1rem 0;
    }
}
.payment-form {
    min-width: 100%;

    .outter-form-group {
        margin: 0;
        border: none;
        padding: 1rem;
    }

    #div_id_credit_card_number,
    #div_id_cvv,
    #div_id_expiry_month,
    #div_id_expiry_year {
        border: none;
        width: 100%;
    }
}
