.order-summary-row, .payment-form-row {
    margin: 1rem;
    border: $orange-border;
}
//convert this to card
.order-summary-header {
    border-bottom: $orange-border;
    background-color: $dark-grey;
    color: white;
    text-shadow: $header-shadow-darkbg;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
}
.order-item-header {
    border-bottom: $orange-border;
    padding-bottom: 0.25rem;
}
.order-item {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;

    p {
        margin: 0;
    }
}
.item-description-col7 {
    flex:7;
    text-align: left;
}
.item-days-col2 {
    flex:2;
}
.item-total-col3 {
    flex:3;
}
.order-total {
    background-color: $dark-grey;
    color: white;
    text-shadow: $header-shadow-darkbg;
    border-top: $orange-border;
    min-width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;

    h5 {
        margin: 0;
    }
}
.total-text, .total-value {
    padding: 0;
}
.payment-form {
    min-width: 100%;

    .outter-form-group {
        margin: 0;
        border: none;
        padding: 1rem;
    }

    .form-group {
        margin: 0;
    }
}