.search-row {
    margin: 1rem 1rem 2rem;
    justify-content: center;

    .form-control {
        border: 1px solid $eerie-black;
    }
    label {
        font-family: "Audiowide", sans-serif;
        font-size: 1.5rem;
        color: inherit;
        text-shadow: $header-shadow-lightbg;
    }
    input {
        border: 1px solid $eerie-black;
        border-radius: 0.25rem;
        // width: 74%;
        height: 2rem;
        margin-top: 0.2rem;
    }

}
.search-box {
    padding: 0;
}
.search-form {
    width: 100%;
}
.text-input-box {
    padding-right: 0.25rem;
}
.search-text-input {
    width: 100%;
}
.search-button-box {
    padding-top: 0.25rem;
}
.search-button {
    font-family: "Audiowide", sans-serif;
    border: 3px solid $heat-wave;
    background-color: $heat-wave;
    color: $eerie-black;
    box-shadow: -1px 4px 9px 1px black;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
}
.disabled-button{
    border: 3px solid $eerie-black !important;
    background-color: $eerie-black !important;
    color: white !important;
}
.car-input-area {
    margin-top: 1rem;
}
.car-view-button {
    margin: 0 !important;
}
