// Index

.content-boxes {
    height: fit-content;
    overflow: hidden;
    padding: 0;
    z-index: 1;
    color: white;
    border: 1px solid $heat-wave;
    i {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
}
.content-boxes-img {
    max-height: 105%;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.content-boxes-row {
    max-width: 100%;
    margin: 0;
}
.index-content-boxes {
    padding: 1rem;
    background-color: #0000008f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.content-boxes-row p {
    margin: 0;
}
.luxury-box {
    background-image: url("../images/index/business.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.custom-classic-box {
    background-image: url("../images/index/customclassic2.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.supersport-box,
.luxury-box,
.custom-classic-box {
    height: initial;
}
.supersport-box {
    background-image: url("../images/index/supersport2.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.vroom-my-car {
    color: white;
    padding: 0;
    background-image: url("../images/index/vroommycar.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.track-day-box {
    padding: 0;
    background-image: url("../images/index/trackdaydriver2.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.insurance-box {
    padding: 0;
    background-image: url("../images/index/index_insurance.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.private-driver-box {
    padding: 0;
    background-image: url("../images/index/private_driver_index.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.track-day-box,
.insurance-box,
.private-driver-box {
    height: initial;
    p{
        margin: 0;
    }
}
.using-vroom {
    padding: 0;
    height: fit-content;
    background-image: url("../images/index/usingvroom.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.using-vroom-item {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
        margin: 0;
    }
}
.addons-button {
    padding: 1rem;
}
