// Profile

.profile-info {
    margin-top: 1rem;  
    padding: 0;
    h5 {
        margin-bottom: 0.5rem;
        line-height: 2rem;
        background-color: $eerie-black;
        color: white;
        text-shadow: $header-shadow-darkbg;
        box-shadow: 0px 1px 5px black;
    }
}