{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block meta_description %}Vroom. Cart contents.{% endblock %}

{% block title %}Vroom - Cart{% endblock %}

{% block content %}
<div class="row cart-items-row">
    {% for item in cart_items %}
        {{ item }}
        
    {% endfor %}
</div>
<div class="col-12 cart-checkout">
    <h6>Total</h6>
    <h5><i class="fas fa-euro-sign"></i>{{ total_cart }}</h5>
    <a href="{% url 'checkout' %}" class="btn general-button" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div>
{% endblock %}