{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block meta_description %}Vroom. Cart contents.{% endblock %}

{% block title %}Vroom - Cart{% endblock %}

{% block content %}

{% if not cart_items %}
<div class="row">
    <div class="col-12 header-strip"
        <h4>Your cart is empty!</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5>Let's change it!</h5>
        <p>Have a look at our collection of cars and choose the one you like.</p>
        <a href="{% url 'all_cars' %}" rel="noopener" aria-label="Link to all cars page">
            <button type="button" class="btn general-button">Find a car</button>
        </a>
    </div>
</div>
{% else %}
<div class="row cart-items-row">
    {% for item in cart_items %}
    <div class="col-12 cart-item">
        <div class="row cart-item-line item-line-1">
            {% if item.item_type != 'insurance' %}
            <div class="col-10">
            {% else %}
            <div class="col-12">
            {% endif %}
                {% if item.item_type == 'car' %}
                <h5>{{ item.item.year }} {{ item.item.brand|upper }} {{ item.item.model|upper }}</h5>
                <p>{{ item.item.engine }} {{ item.item.fuel }} {{ item.item.transmission }}</p>
                {% elif item.item_type == 'track_day' %}
                <h5>TRACK EXPERIENCE</h5>
                <p>{{ item.item.coverage }}</p>
                {% elif item.item_type == 'insurance' %}
                <h5>INSURANCE</h5>
                <p>{{ item.item.coverage }}</p>
                {% elif item.item_type == 'private_driver' %}
                <h5>PRIVATE DRIVER EXPERIENCE</h5>
                <p>{{ item.item.coverage }}</p>
                {% endif %}
            </div>
            {% if item.item_type != 'insurance' %}
            <div class="col-2 delete-button-box">
                <form class="form-inline cart-form-inline" method="POST" action="{% url 'adjust_cart' item.item_type item.id %}">
                    {% csrf_token %}
                    <input name="quantity" type="hidden" value="0" class="form-control">
                    <button type="submit" class="btn general-button"><i class="fas fa-trash-alt"></i></button>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="row cart-item-line item-line-2">
            <div class="col-12 sm-md-screen">
                <!-- <div class="cart-line2-col"> -->
                {% for key in partial_value %}
                {% if key.item_type == item.item_type %}
                <h5><i class="fas fa-euro-sign"></i>{{ key.item_total }}</h5>
                <p>for {{ item.quantity }} {% if item.quantity > 1 %}days {% else %}day {% endif %}</p>
                {% endif %}
                {% endfor %}
            </div>
            {% if item.item_type != 'insurance' %}
            <div class="col-12">
                <form class="form-inline cart-form-inline" method="POST" action="{% url 'adjust_cart' item.item_type item.id %}">
                    {% csrf_token %}
                    <p class="text-muted small">Change quantity</p>
                    <div class="form-group cart-form-group">
                        <div class="form-quantity"></div>
                        <label for="updateQuantity" class="sr-only">New Qty</label>
                        <input name="quantity" type="number" min="0" max="999" class="form-control">
                    </div>
                    <button type="submit" class="btn general-button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                </form>
            </div>
            {% endif %}
            <div class="cart-item-line item-line-2 lg-screen">
                <div class="cart-line2-col">
                    <h6>per day</h6>
                    <h5><i class="fas fa-euro-sign"></i>{{ item.item.price }}</h5>
                </div>
                {% if item.item_type != 'insurance' %}
                <div class="cart-line2-col">
                    <div class="form-quantity">{{ item.quantity }}
                        {% if item.quantity > 1 %}
                        days
                        {% else %}
                        day
                        {% endif %}
                    </div>
                    <form class="form-inline cart-form-inline" method="POST" action="{% url 'adjust_cart' item.item_type item.id %}">
                        {% csrf_token %}
                        <div class="form-group cart-form-group">
                            <div class="form-quantity">{{ item.quantity }}
                                {% if item.quantity > 1 %}
                                days
                                {% else %}
                                day
                                {% endif %}
                            </div>
                            <label for="updateQuantity" class="sr-only">New Qty</label>
                            <input name="quantity" type="number" min="0" max="999" class="form-control">
                        </div>
                        <button type="submit" class="btn general-button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                    </form>
                </div>
                {% endif %}
                <div class="cart-line2-col lg-screen">
                    <h6>Partial</h6>
                    {% for key in partial_value %}
                    {% if key.item_type == item.item_type %}
                    <h5><i class="fas fa-euro-sign"></i>{{ key.item_total }}</h5>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="col-12 cart-checkout">
    <h6>Total</h6>
    <h5><i class="fas fa-euro-sign"></i>{{ total_cart }}</h5>
    <a href="{% url 'checkout' %}" class="btn general-button" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div>
{% endif %}
{% endblock %}