// Presets

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:focus-within {
    background-color: #ffa400 !important;
    box-shadow: inset -2px 2px 7px 0px black !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 10vw;
    height: 7vh;
}
.body-link {
    color: $bright-orange;
    text-shadow: -1px 1px 2px #000000ab;
}
.body-link:hover {
    text-decoration: none;
    color: #007cff;
}
a:hover, .nav-icons:hover {
    color: $bright-orange;
}
i {
    font-size: 2.5rem;
}
#stripe-error-message,
.error-msg{
    color: $bright-orange;
    font-weight: 700;
    text-shadow: -1px 1px 2px #00000069;
}
// .lg-screen {
//     display: none;
// }
.feedback-message {
    color: $dark-grey;
    background-color: #ff7b00ad;
    border-color: $bright-orange;
    border-radius: 0;
    box-shadow: 0 0 6px black;
}
.content-container {
    padding: 0;
}
.row {
    max-width: 100%;
    margin: 0;
}
.fas {
    font-size: inherit;
}
.header-strip {
    margin: 1rem 0;
    padding: 0.5rem 0;
    background-color: $dark-grey;
    color: white;
    text-shadow: $header-shadow-darkbg;
    box-shadow: -1px 4px 10px black;
}
// .top-header-strip {
//     margin: 1rem 0;
// }
.cards-row {
    max-width: 100%;
    padding: 0;
    margin: 1rem;
}
.header-title {
    padding: 3rem 0.5rem 1rem;
    background-color: white;
    color: $dark-grey;
    text-shadow: $header-shadow-lightbg;
}
.secondary-title-light {
    text-shadow: $header-shadow-lightbg;
    margin-bottom: 1rem;
}
.secondary-title-dark {
    text-shadow: $header-shadow-darkbg;
    margin-bottom: 1rem;
}
.box-shadow {
    box-shadow: 0 0 8px 4px #0000008a;
    margin: 1rem 0 1rem !important;
    border: $orange-border;
}
.top-div {
    margin: 0 0 1rem !important;
}
.orange-border {
    border: $orange-border;
    box-shadow: -1px 3px 8px 0px #0000008a;
}
.black-bg {
    background-color: $dark-grey;
}
