// Typography

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto&family=Russo+One&display=swap');

.logo-nav {
    font-family: "Audiowide", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.menu-nav {
    font-family: "Russo One", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: white;
}
.heading-text {
    font-family: "Audiowide", sans-serif;
    color: inherit;
}
.secondary-text {
    font-family: "Russo One", sans-serif;
    font-weight: 900;
    color: inherit;
}

p {
    font-size: 1.2rem;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Audiowide", sans-serif;
    color: inherit;
    margin: 0;
}