.general-button {
    font-family: "Audiowide", sans-serif;
    border: 3px solid $bright-orange;
    background-color: $bright-orange;
    color: black;
    box-shadow: -1px 4px 9px 1px black;
    padding: 0 0.5rem;
    margin: 1rem;
}
