nav {
    background-color: $dark-grey;
}
.navbar {
    position: fixed;
    z-index: 20;
    width: 100%;
    padding: 0 1rem;
}
.nav-compensation-div {
    height: 5.2rem;
}
.logo-nav {
    margin: 0;
}
.nav-icons {
    font-size: 1.5rem;
    margin: 0.25rem;
}
.navbar-nav .dropdown-menu {
    text-align: center;
}
.dropdown-item.active, .dropdown-item:active {
    color: inherit;
    background-color: $bright-orange;
}
.badge {
    position: absolute;
    right: 1rem;
}
.navbar-toggler {
    border: 1px solid white;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-nav-right{
    display: inline-block;

    .fas{
        font-size: 1.5rem;
    }
}
.action-menu-buttons {
    align-self: center;
    padding: 0 0.4rem;
}
