{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"/>
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    {% include 'layout/header.html' %}

    <div class="nav-compensation-div"></div>

    {% if messages %}
        {% include 'layout/messages.html' %}
    {% endif %}

    <div class="container content-container">
        {% block content %} {% endblock %}
    </div>
    
    {% include 'layout/footer.html' %}

</body>


</html>