<footer>
    <div class="container">
        <div class="row footer-row">
            <div class="col-xs-12 footer-col">
                <h2 class="heading-text">About Vroom</h2>
                <p>We are passionate about cars and the experience associated to them.</p>
                <p>Our mission is to allow our users to experience the exclusivity, luxury and adrenaline that were limited to just a few until now.</p>
            </div>
            <div class="col-xs-12 footer-col">
                <h2 class="heading-text">Visit our Social Media Channels</h2>
                <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Link to Facebook home page">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Link to Instagram home page">
                    <i class="fab fa-instagram-square"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Link to Twitter home page">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="Link to Youtube home page">
                    <i class="fab fa-youtube-square"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>© 2020 Romulo Albuquerque - Vroom made with love</p>
        </div>
    </div>
</footer>