<header>
    <nav class="navbar navbar-expand-lg menu-nav">

        <a class="navbar-brand logo-nav lg-screen" href="{% url 'index' %}">Vroom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedMenu" aria-controls="collapsedMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsedMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item hvr-grow active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item hvr-grow dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="collapsedFindACar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Find a Car
                    </a>
                    <div class="dropdown-menu" aria-labelledby="collapsedFindACar">
                        <a class="dropdown-item" href="{% url 'all_cars' %}">All Cars</a>
                        <a class="dropdown-item" href="{% url 'custom_classic_only' %}">Custom Classic</a>
                        <a class="dropdown-item" href="{% url 'luxury_only' %}">Luxury</a>
                        <a class="dropdown-item" href="{% url 'supersport_only' %}">Supersport</a>
                    </div>
                </li>
                <li class="nav-item hvr-grow">
                    <a class="nav-link" href="{% url 'car_register' %}">Rent my car</a>
                </li>
                <li class="nav-item hvr-grow">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item hvr-grow">
                    <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li class="nav-item hvr-grow">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand logo-nav sm-md-screen" href="{% url 'index' %}">Vroom</a>
        <div class="nav-right">
            <ul class="navbar-nav mr-auto navbar-nav-right">
                {% if user.is_authenticated %}
                <li class="nav-item hvr-grow action-menu-buttons"><a href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile</a></li>
                <li class="nav-item hvr-grow action-menu-buttons"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
                {%  else %}
                <li class="nav-item hvr-grow action-menu-buttons"><a href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register</a></li>
                <li class="nav-item hvr-grow action-menu-buttons"><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
                {% endif %}
            </ul>
            <a href="{% url 'all_cars' %}"><i class="fas fa-search nav-icons"></i></a>
            <a href="{% url 'view_cart' %}">
                <i class="fas fa-car nav-icons"></i>
                {% if item_count > 0 %}
                    <label class="badge badge-warning">{{ item_count }}</label>
                {% endif %}
            </a>
        </div>
    </nav>
</header>